@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Fredoka", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply antialiased text-gray-900;
}

/* Custom scrollbar for a cleaner look */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-orange-200 rounded-full hover:bg-orange-300 transition-colors;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-yellow-200 rounded-full hover:bg-yellow-300 transition-colors;
}
